@import '../../vars.scss';
.cta {
  font-size: 24px; // Increase the font size to make it bigger
  margin-top: 15vh; // Move it up by giving it a negative margin-top value
  color: $color-gray-base;
}
