@import '../../styles/vars.scss';
.cta {
  font-size: 24px; // Increase the font size to make it bigger
  margin-top: 5vh; 
  font-family: sans-serif;
  margin-bottom:2vh;
}


h2{
  color: rgb(55, 66, 77);
}


p{
  color: rgb(38, 46, 54);
}
