
$color-pink-dark: #b3005d;
$color-pink-base: #e5007e;
$color-pink-light: #f8b0cb;
$color-pink-lighter: #ffdfeb;
$color-gray-darker: #262e36;
$color-gray-dark: #37424d;
$color-gray-base: #65717e;
$color-gray-light: #d4d7db;
$color-gray-lighter: #f2f3f5;
$color-white-base: #fff;
$color-white-dark: #f9f8f3;
$color-green-dark: #1f6b49;
$color-green-base: #21a36b;
$color-green-light: #d3f0e3;
$color-blue-dark: #23529a;
$color-blue-base: #2c67c1;
$color-blue-light: #e0e8f6;
$color-red-dark: #a72121;
$color-red-base: #d12929;
$color-red-light: #f6d4d4;
$color-orange-dark: #b45012;
$color-orange-base: #f06b18;
$color-yellow-base: #ffc621;
$color-yellow-light: #fff4d3;
$color-brown-base: #c8c0ab;
$gradient-primary: #e5007e, #f06b18 85%, #ffc621;
$gradient-accessible: #e5007e, #f06b18;
$gradient-green: #21a36b, #1f6b49;
$spacing-none: 0;
$spacing-2x-small: 0.25rem;
$spacing-xsmall: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 1.5rem;
$spacing-large: 2rem;
$spacing-xlarge: 3rem;
$spacing-2x-large: 4rem;
$spacing-3x-large: 5rem;
$spacing-4x-large: 6rem;
$spacing-5x-large: 8rem;
$spacing-6x-large: 11rem;
$shadow-xsmall: 0 0 6px 0 rgba(38, 46, 54, 0.05);
$shadow-small: 0 3px 17px 0 rgba(38, 46, 54, 0.1);
$shadow-medium: 0 3px 17px 0 rgba(38, 46, 54, 0.25);
$shadow-large: 0 8px 19px 0 rgba(38, 46, 54, 0.25);
$shadow-fancy: 0 9px 18px 0 #c8c0ab;
$breakpoint-tablet: 900;
$breakpoint-desktop: 1440;
$radius-none: 0;
$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 100px;
